:root {
	--bubble-bg: rgba(0, 0, 0, 0.7);
	--bubble-radius: 5%;
	--separator-bg: #5e595e;
	--button-bg: rgb(25, 135, 84);
}

.bubble {
	background: var(--bubble-bg);
}


.cardpart {
	background-color: var(--bubble-bg);
	border-radius: 10px;
}

body {
	background-image: url("../imgs/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

html, body {
	min-height: 100%;
}

button {
	border: none;
}

hr {
	background: var(--separator-bk);
}
