:root {
	--bubble-bk: rgba(0, 0, 0, 0.7);
	--bubble-radius: 5%;
	--separator-bk: #5e595e;
}

.bubble {
	background: var(--bubble-bk);
}


.cardpart {
	background-color: var(--bubble-bk);
	border-radius: 10px;
}

body {
	background-image: url("../imgs/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

html, body {
	min-height: 100%;
}

hr {
	background: var(--separator-bk);
}
