#login_popup {
	width: 60%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	top: 30%;
	margin: none;
}
	#login_popup>div {
		display: flex;
		justify-content: space-between;
	}
	#login_popup button {
		background: var(--button-bg);
	}
